<nav class="navbar navbar-expand-lg bg-white fixed-top d-flex flex-grow">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="d-flex align-items-center">
        <a class="navbar-brand" href="#">
          <img src="../assets/img/pokelogo.png" alt="logo" class="nav-logo d-inline-block align-text-top"/>
      </a> 
      <div class="bg-7">    
      <p class="title t-stroke">Mi PokePágina</p>
    </div> 
      </div>

      <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
        <ul class="navbar-nav">
          <li class="nav-item">
            <button class="nav-link" aria-current="page" href="#">HOME</button>
          </li>
          <li class="nav-item dropdown">
            <button class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              TIPOS ▼
            </button>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><button class="dropdown-item" href="#">Normal</button></li>
              <li><button class="dropdown-item" style="color: F71111;" href="#">Dragón</button></li>
              <li><button class="dropdown-item" style="color: red;" href="#">Fuego</button></li>
              <li><button class="dropdown-item" style="color: 6CF9F5;" href="#">Fantasma</button></li>
              <li><button class="dropdown-item" style="color: brown;" href="#">Tierra</button></li>
              <li><button class="dropdown-item" style="color: grey;" href="#">Acero</button></li>
              <li><button class="dropdown-item" style="color: D076D8;" href="#">Hada</button></li>
              <li><button class="dropdown-item" style="color: A106AF;" href="#">Psíquico</button></li>
              <li><button class="dropdown-item" style="color: 25EE11;" href="#">Bicho</button></li>
              <li><button class="dropdown-item" style="color: 18980B;" href="#">Planta</button></li>
              <li><button class="dropdown-item" style="color: 439BF3;" href="#">Agua</button></li>
              <li><button class="dropdown-item" style="color: black;" href="#">Roca</button></li>
              <li><button class="dropdown-item" style="color: 0D9613;" href="#">Veneno</button></li>
              <li><button class="dropdown-item" style="color: blue;" href="#">Hielo</button></li>
              <li><button class="dropdown-item" style="color: grey;" href="#">Volador</button></li>
              <li><button class="dropdown-item" style="color: yellow;" href="#">Eléctrico</button></li>
              <li><button class="dropdown-item" style="color: black;" href="#">Lucha</button></li>
              <li><button class="dropdown-item" style="color: F605FA;" href="#">Siniestro</button></li>
            </ul>
          </li>
          <li class="nav-item">
            <button class="nav-link" href="#">ABOUT</button>
          </li>    
        </ul>
      </div>
      <div class="justify-content-end">
        <img src="../assets/img/pikahello.jpg" style="width: 80px; height: 80px">
      </div>  
    </div>
  </nav>

